[Unit]
Description=Filebeat {{ filebeat_version }}
Documentation=https://www.elastic.co/guide/en/beats/filebeat/current/index.html
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{ filebeat_install_dir }}/filebeat -c {{ filebeat_config_dir }}/config/filebeat.yml -path.home {{ filebeat_install_dir }} -path.config {{ filebeat_config_dir }} -path.data {{ filebeat_logs_dir }} -path.logs {{ filebeat_logs_dir }} 
Restart=always

[Install]
WantedBy=multi-user.target


